

body {
  margin:0; 
  padding:0;
  background-image: url('../images/background.png');
  font-family: verdana, arial;
  font-family: 'Fredoka One', cursive;
  font-size:20px;
  color:#F44B0A;
}
#logod {
  background-image:  url('../images/bg.gif');
  /*background-color: #fff;*/
  width: 1200px;
  height: 80px;
}
#logod img {
  height: 80px;
}
#container {
  padding: 0;
  margin: -23px;
  background-image:  url('../images/fondo.png');
  background-color: #444;
  background-repeat: no-repeat;
  text-align: left;
  width:1200px;
}
#container h2 {
  padding-right: 30px;
	color:#F44B0A;
	text-shadow: 1px 3px 2px #94D300, 10px 10px 10px #FFF;
  text-align: right;

}
#footer {
  
  text-align: right;
  margin: 0 auto;
  color: black;
  font-size: 0.8em;
  padding-right: 5px ;
}
#render {
  -webkit-user-select: none;
  -khtml-user-select: none;   
  -webkit-user-select: none;
  user-select: none;
  margin-top: -5px;
  margin-left: 90px;
  width: 650px;
  min-height: 490px;
  float: left;
  font-family: 'Shojumaru', cursive;
}
#toolbar {
	border-radius: 15px;
	-webkit-box-shadow: 5px 5px 5px #333;
	box-shadow: 5px 5px 5px #333;
	background-color: rgba(255,255,255,.5);
	margin:10px;
  float: right;
  padding: 10px;
  width: 230px;
}

#toolbar li {
  margin: 0;
  list-style-type: none;
  padding-left: 10px;
  padding-top: 10px;
  clear:both;

}
#toolbar li div {
 float:left;
}

.butterfly  {
  margin-right: 10px;
  width: 40px;
  height: 30px;
  background-image: url('../images/mazul.png');
  background-repeat: no-repeat;
  background-size: 80px;

}
#timer {

  padding: 10px;
  font-size:25px;

}
.menuselected {
  
	text-shadow: 1px 2px 2px #ccc, -2px 0px 2px #ccc;
	border-radius: 15px;
  color: black;
}
.menuselected .butterfly{
  margin-right: 10px;
  width: 40px;
  height: 30px;
  background-image: url('../images/mnaranja.png');
  background-repeat: no-repeat;
  background-size: 80px;
}
.cell {
	text-shadow: 1px 2px 2px #ccc, -2px 0px 2px #ccc;
  color: #444;
  padding-top: 2px;
  text-align: center;
  vertical-align: center;
  width: 45px; 
  height: 40px;
  float: left;
  font-size: 22px;
}
.row {
  float: left;
}
.left {
  border-left: 1px solid #ccc;
}
.top {
  border-top: 1px solid #ccc;
}
.right {
  border-right: 1px solid #ccc;
}
.bottom {
  border-bottom: 1px solid #ccc;
}
.black {
  background-color: #000;
}

.white {
  background-color: #fff;
}


.selected {
  -webkit-animation: letterAnim 1s linear 0s infinite alternate;
  color: #00aa00;
}
@-webkit-keyframes letterAnim {
  from { 
    /*text-shadow: 0 0 0.3em #020055, 0 0 0.3em #020055,0 0 0.3em #020055;*/
    font-size: 15px;
  }
  to {
    font-size: 30px;
  }
}



/* modal box */
.black_overlay{
  display: none;
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  background-color: black;
  z-index:1001;
  -moz-opacity: 0.8;
  opacity:.80;
  filter: alpha(opacity=80);
}
.white_content {
  display: none;
  position: absolute;
  top: 25%;
  left: 30%;
  width: 500px;
  height: 300px;

  text-align: center;
  /*background-color: white;*/
  background-image: url('../images/cartel.png');
  background-repeat: no-repeat;
  z-index:1002;
  overflow: auto;
}
/*
.white_content {
  display: none;
  position: absolute;
  top: 25%;
  left: 25%;
  width: 50%;
  height: 50%;
  padding: 16px;
  border: 16px solid orange;
  background-color: white;
  z-index:1002;
  overflow: auto;
}
*/
#light a {
  float: right;

}
#light p {
  margin-top: 90px;
  font-size: 40px;
}
.loading {
  display: none;
  position: absolute;
  top: 25%;
  left: 25%;
  width: 50%;
  height: 50%;
  padding: 16px;
  border: 16px solid orange;
  background-color: white;
  z-index:1002;
  overflow: auto;
}
/* end modal box */


#soundmanager div {
  float: left
}
#soundmanager {
	border-radius: 15px;
	-webkit-box-shadow: 5px 5px 5px #333;
	box-shadow: 5px 5px 5px #333;
	background-color: rgba(255,255,255,.5);
	
  position: absolute;
  top: 60px;
  left: 100px;
  width: 200px;
  z-index:1001;
  -moz-opacity: 0.8;
  opacity:.80;
  filter: alpha(opacity=80);
}
